<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <title>consultaEmpresas</title>
</head>
<section class="vh-110" style="background-color: #0909e650;">
<body>

    <div class="container">
        <h3 class="mb-3 text-center">Empresas</h3>

        <a href="{%url 'formEmpresa'%}">
            <button type="button" class="btn btn-primary">Agregar Empresa</button></a>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id Empresa</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Nit</th>
                    <th scope="col">Cuidad</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Sector productivo</th>
                    <th scope="col">Estado empresa</th>
                </tr>
            </thead>
            <tbody>
                {% for empr in mensaje%}
                <tr>
                    <td>{{empr.id_empresa}}</td>
                    <td>{{empr.nombre}}</td>
                    <td>{{empr.nit}}</td>
                    <td>{{empr.ciudad}}</td>
                    <td>{{empr.direccion}}</td>
                    <td>{{empr.telefono}}</td>
                    <td>{{empr.sectorProductivo}}</td>
                    <td>{{empr.estado}}</td>
                </tr>

                {%endfor%}
            </tbody>
        </table>
    </div>
</body>
</section>

</html>